* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Tahoma, Geneva, sans-serif;
  background-image: url("http://localhost:3000/images/backgroundL");
  background-size: 100%, auto, cover;
  min-height: 100%;
}
.header {
  overflow: hidden;
  background-color: #FFFFFF;
}
.header a {
  float: left;
  padding: 12px;
}
.header-text {
  float: left;
  padding-top: 25px;
  font-size: 40px;
}
@media screen and (max-width: 980px) {
.header a {
  float: none;
  display: block;
  text-align: left;
}
.header-text {
  float: none;
}
}
.menu {
  overflow: hidden;
  background-color: #333;
}
.menu a {
  display: block;
  color: #FFFFFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.menuleft {
  float: left;
}
.menuright {
  float: right;
}
.menu a:hover {
  background-color: #FFFFFF;
  color: black;
}
.wrapper {
  padding: 5px;
  max-width: 1280px;
  width: 95%;
  margin: 20px auto;
}
.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 5px 0;
}
.column {
  background-color: #FFFFFF;
  flex: 1;
  border: 1px solid gray;
  margin: 2px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  min-height: 380px;
  text-align: justify;
  text-justify: inter-word;
  &:first-child { margin-left: 0; }
  &:last-child { margin-right: 0; }
}
.pcolor {
  color: #696969;
}
.copyurl {
  width: 100%;
  padding: 15px;
  border: 1px solid #dddddd;
  margin-bottom: 15px;
  box-sizing:border-box;
}
.copybtn {
  width: 100%;
  padding: 15px;
  background-color: #333;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
}
@media screen and (max-width: 980px) {
  .row .column {
    margin-bottom: 5px;
    flex-basis: 40%;
    &:nth-last-child(2) {
      margin-right: 0;
    }
    &:last-child {
      flex-basis: 100%;
      margin: 0;
    }
  }
}
@media screen and (max-width: 680px) {
  .row .column {
    flex-basis: 100%;
    margin: 0 0 5px 0;
  }
}
.footer {
  background-color: #333;
  color: #FFFFFF;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
}
